*{
    margin: 0;
}
#bodyColor{
    background-color: lightblue;
}
.navButtons{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.justify_between{
    justify-content: space-between;
}
.all{
    width: 90%;
    margin: 0 auto;
}
.row{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}    
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.content_wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 33.3%;
    height: 500px;
}
.content_wrapper img{
    height: 90%;
}    
.banner{
    margin-top: 25px;
    padding: 60px;
    text-align: center;
    background: #7b7e7d;
    color: white;
    font-size: 30px;  
}
.Down{
  margin-top: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}
.firstBlog{
    margin-top: 50px;
    display: flex;
    gap: 100px; 
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.firstBlog img{
    width: 50%;
}
.secondBlog{
    display: flex;
    margin-top: 50px;
    gap: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.secondBlog img{
    width: 50%;
}
.thirdBlog{
    display: flex;
    margin-top: 50px;
    gap: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.thirdBlog img{
    width: 50%;
}
.pageContact{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 90%;
    gap: 100px;
    font-size: x-large;
}
.searchBar{
    text-align: center;
    margin-top: 25px;
}
.registrationBar{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    gap: 25px;
}
.textareaBar{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.singupBar{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 16%;
}
