*{
    margin: 0;
}
#bodyColor{
    background-color: lightblue;
}
.navButtons{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.justify_between{
    justify-content: space-between;
}
.all{
    width: 90%;
    margin: 0 auto;
}
.row{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}    
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.content_wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 33.3%;
    height: 500px;
}
.content_wrapper img{
    height: 90%;
}    
.banner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 90%;
}
.Down{
  margin-top: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}

